/*
 * Links
*/
.fdfp-follow-links a {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  background: #fff;
  color: #444;
  text-align: center;
}
.fdfp-follow-links a:hover,
.fdfp-follow-links a:focus {
    color: #444;
}

/*
 * List Group
*/
.fdfp__list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 1rem;
}
.fdfp__list-group .fdfp__list-group__item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.fdfp__list-group .fdfp__list-group__item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.fdfp__list-group .fdfp__list-group__item:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}


/*
 * List Group - Item
*/
.list-group__item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.list-group__item__col-auto,
.list-group__item__col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.list-group__item__col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.list-group__item__col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.list-group__item__avatar {
  display: block;
  background: #fff;
  border-radius: .25rem;
  width: 100%;
  max-width: 92px;
}
.list-group__item__title {
    display: block;
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
}